 * {
     margin: 0;
     padding: 0;
     border: 0;
     box-sizing: border-box;
 }

 li {
     list-style: none;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-size: inherit;
     font-weight: inherit;
 }

 a {
     color: inherit;
     text-decoration: none;
     display: block;
 }

 p a {
     display: inline;
 }

 img,
 picture,
 video,
 iframe {
     display: block;
     width: 100%;
     /* height: initial; */
 }

 form,
 input,
 label,
 select,
 option,
 textarea,
 button {
     font-size: inherit;
     font-family: inherit;
     display: block;
     background-color: transparent;
 }

 :root {
     --color-roig-links: rgb(241, 112, 98);
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     /* font-family: "Space Grotesk", sans-serif; */
     font-family: "Inter", sans-serif;
 }

 /* accesibilidad al navegar con tabulador */
 :focus-visible {
     outline: 2px solid #1a1a1a;
     outline-offset: 2px;
 }


 /**************** FIN RESET *****************/


 /***************** HEADER *****************/

 .header {
     width: 100%;
     /* background-color: rgb(194, 95, 95); */
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: center;

     padding: 1rem 1rem;
     position: fixed;
     top: 0;
     z-index: 2;
 }

 .header__h1 {
     font-weight: 400;
     font-size: 1.2em;

     /* transition: color 1s ease; */
 }

 .header__h1:hover {
     color: var(--color-roig-links);
 }

 .nav__li {
     font-size: .7em;
     text-transform: lowercase;
 }

 @media (max-width: 1200px) {
     .header {
         padding: .5rem;
     }
 }

 /***************** FIN HEADER *****************/



 /***************** INICI MAIN *****************/

 .wrapper__principal {
     width: 100%;
     /* min-height: 50vh; */
     padding: 1rem;
     margin-top: 3.5rem;
 }

 .wrap__grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1rem;
 }

 .grid__imgs {
     position: sticky;
     top: 4.5rem;
     align-self: start;
 }


 .description__text {
     padding-top: 2rem;
          font-size: 1.7em;

 }


 .italic {
     font-style: italic;
 }

 .--text__reduit {
     font-size: 1.4em;
     color: rgb(187, 187, 187);
 }

 .text__h2 {
     font-size: 1.5em;
     margin-top: 2rem;
     font-weight: 600;
 }

 .projects__links {
     font-size: 1.3em;
     margin-top: 1rem;
     text-decoration: underline;
     display: flex;
     flex-flow: column nowrap;
     gap: .5rem;
 }

 a:hover {
     color: var(--color-roig-links);
 }

 @media (max-width: 1200px) {
     .wrapper__principal {
         padding: .5rem;
     }

     .wrap__grid {
         grid-template-columns: repeat(1, 1fr);
     }

     .description__text {
         font-size: 1.5em;
     }

     .--text__reduit {
         font-size: 1em;
     }

      .grid__imgs {
     position: inherit;
   
 }
 }

 /***************** FIN MAIN *****************/



 /***************** INICI FOOTER *****************/

 .wrap__footer {
    width: 100%;
    padding: 1rem 1rem;
    margin: 9rem 0 1rem 0;
    font-size: 1.1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
 }

 @media (max-width: 1200px) {
    .wrap__footer{
        padding: .5rem .5rem;
    }
 }

  @media (max-width: 900px) {
   .wrap__footer{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
   }
 }
 /***************** FIN FOOTER *****************/